<h2>Create Dream Team</h2>
<%= form_for @dream do |f| %>
  <%= f.hidden_field :user_id, value: @current_user.id %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :avatar %>
  <%= f.text_field :avatar %>

  <%= f.label :province %>
  <%= f.text_field :province %>

  <%= f.label :color %>
  <%= f.text_field :color %>

  <%= label_tag 'Select up to 5 players' %>
  <%= select_tag 'player_ids', options_for_select(Player.all.map{|player| [player.name, player.id]}), multiple: true, :size => 5 %>
  
  <%= label_tag 'Select up to 6 moves' %>
  <%= select_tag 'move_ids', options_for_select(Move.all.map{|move| [move.name, move.id]}), multiple: true, :size => 6 %>

  <%= f.submit "Create Dream Team" %>
<% end %>



