<h1><%= @current_user.email %>'s Dream Teams</h1>
<% @current_user.dreams.each do |dream| %>

  <div class="dream-team">
    <h2><%= dream.name %></h2>
    <img src="<%= dream.avatar %>" alt="<%= dream.name %>'s avatar">
    <p>Province: <%= dream.province %></p>
    <p>Color: <%= dream.color %></p>
<h3>Players</h3>
<div class="players-grid">
<% dream.players.each do |player| %>
  <div class="player-cell">
    <%= link_to player.name, player_path(player.id) %>
    <img src="<%= player.image %>" alt="<%= player.name %>'s image">
    <div class="moves-grid">
      <% player.moves.each do |move| %>
        <div class="move-cell">
          <%= link_to move.name, move_path(move.id) %>
          <img src="<%= move.image %>" alt="<%= move.name %>'s image">
          <%= link_to "Edit move", edit_move_path(move) %>
          <%= link_to "Delete move", move_path(move), method: :delete, data: { confirm: "Are you sure you want to delete this move?" } %>
        </div>
      <% end %>
    </div>
</div>
<% end %>
</div>
<%= link_to "Edit Dream Team", edit_dream_path(dream) %>
<%= link_to "Delete Dream Team", dream_path(dream), method: :delete, data: { confirm: "Are you sure you want to delete this dream team?" } %>

  </div>
<% end %>
<%= link_to 'Create a new Dream Team', new_dream_path %>

