<div class="PlayerProfile">
    <div class="NameInPlayerMoves">
        <%= @move.name %>
    </div>

    <div class="PositionInPlayerMoves">
        <%= @move.category %>
    </div>

    <div class="MoveDescription">
        <%= @move.description %>
    </div>


    <div class="ControlsPlayers">
        <%= link_to 'Edit Move', edit_move_path(@move) %>
        <%= link_to 'Delete Move', @move, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
    </div>
</div>
