<div class="PlayerProfile">
        <div class="NameMoves">
            <%= @move.name %>
        </div>

        <div class="PositionMoves">
            <%= @move.category %>
        </div>

        <div class="DescriptionMoves">
            <%= @move.description %>
        </div>

    <% unless @move.image.nil? || @move.image.empty? %>
        <img class="feature" src="<%= @move.image %>" alt="<%= @move.name %>">
    <% end %>

        <div class="ControlsMoves">
            <%= link_to 'Edit Move', edit_move_path(@move), class: "a-primary"  %>
            <%= link_to 'Delete Move', @move, :method => 'delete', :data => { :confirm => 'Are you sure?' }, class: "a-primary"  %>
        </div>
</div>
