<div class="Draft">
    <% unless @player.image.nil? || @player.image.empty? %>
        <img class="feature" src="<%= @player.image %>" alt="<%= @player.name %>">
    <% end %>
        <div class="Name">
            Name: <%= @player.name %>
        </div>
        <div class="Position">
           Position: <%= @player.position %>
        </div>
        <div class="Teamname">
           Team Name: <%= @player.teamname %>
        </div>
        <div class="Playernumber">
           Player Number: <%= @player.playernumber %>
        </div>
        <div class="Description">
           Description: <%= @player.description %>
        </div>
        <div class="Quote">
           Quote: <%= @player.quote %>
        </div>

    <div class="controls">
        <%= link_to 'Add to Dream Team', dreams_path(:id => @player.id), :method => 'post' %>
        <%= link_to 'Edit player', edit_player_path(@player) %>
        <%= link_to 'Delete player', @player, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
    </div>
</div>