<h1><%= @current_user.email %>'s Dream Team</h1>
<div class="Dream">
        <% @current_user.players.each do |player| %>
            <div class="Dream">
                <%= player.name %>
                <img class="dream" src="<%= player.image %>">
                <%= select_tag(:moves, options_for_select(player.moves.pluck(:name, :id)), :include_blank => true) %>
                <%= select_tag(:moves, options_for_select(player.moves.pluck(:name, :id)), :include_blank => true) %>
                <%= select_tag(:moves, options_for_select(player.moves.pluck(:name, :id)), :include_blank => true) %>
                <%= select_tag(:moves, options_for_select(player.moves.pluck(:name, :id)), :include_blank => true) %>
            </div>
        <% end %>
</div>
<footer>
    <%= link_to 'Add Player to Dream Team', players_path, class: "colourbottombar" if @current_user.players.size <= 5 %>
    <%= render :partial => 'form', class: "colourbottombar" %>
    <a href="" class="colourbottombar">Battle Opponent</a>
</footer>